@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

h1 {
  font-family: bookmania, serif;
  color: #ffffff;
  font-size: 130%; }

h2 {
  font-family: proxima-soft, sans-serif;
  font-size: 15px;
  color: white; }

@media screen and (min-width: 375px) {
  .slideshow-container {
    display: none; }

  .headerweb {
    display: none; }

  .content {
    display: grid;
    grid-template-columns: 1fr; }

  .billede1 {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative; }

  .welcome {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 250px;
    height: 100px;
    margin-left: 70px;
    margin-top: 70px;
    text-align: center;
    padding-top: 35px;
    font-family: proxima-soft, sans-serif;
    color: #ffffff;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3); } }
@media screen and (min-width: 1200px) {
  .content {
    display: none; }

  .billede1 {
    display: none; }

  .headerweb {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 250px;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0; }

  .menuimg {
    margin-left: 36px;
    margin-top: 25px; }

  .menubar {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin-left: 38px;
    text-decoration: none; }

  a {
    text-decoration: none; }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 20px;
    width: 250px;
    height: 300px;
    margin-top: 80px; }

  .footertekst1 {
    grid-column: 1 / 3;
    text-align: center;
    padding: 15px; }

  .footerface {
    margin-left: 90px; }

  .footertekst2 {
    grid-column: 1 / 3;
    text-align: center; }

  .footertekst3 {
    grid-column: 1 / 3;
    text-align: center; }

  /* Slideshow container */
  .slideshow-container {
    display: flex;
    max-width: 1400px;
    position: relative;
    margin-left: 250px; }

  /* Gemmer billederne fra standard */
  .mySlides {
    display: none; }

  /* Tilbage og n├ªste knapper */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }

  /* Placer n├ªste knappen til h├©jre */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px; }

  /* I hover tilf├©j en sort baggrund med lidt gennemsigtighed*/
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }

  /* Prikkerne i bunden */
  .dots {
    position: absolute;
    bottom: 20px;
    left: 47%; }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }

  .active, .dot:hover {
    background-color: #717171; }

  /* Fade animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4; }
    to {
      opacity: 1; } }
  @keyframes fade {
    from {
      opacity: 0.4; }
    to {
      opacity: 1; } } }

/*# sourceMappingURL=Forside.css.map */
