// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}
//MIXINS
$red: #b00030;
$grey: #5c5553;
$black: #000000;
$white: #ffffff;
@mixin bookmania{
  font-family: bookmania, serif;
  color: $white;
  font-size: 130%
}
@mixin proxima{
  font-family: proxima-soft, sans-serif;
  color: $white;
}
@mixin billedopskrift{
  grid-column: 4/5;
}

h1{
  @include bookmania;
}
h2{
  font-family: proxima-soft, sans-serif;
  font-size: 15px;
  color: white;

}

@media screen and (min-width: 375px) {

  //DET DER SKJULES I MOBIL
  .slideshow-container {
    display: none;
  }
  .headerweb {
    display: none;
  }

  //MOBILE HEADER
  .headerboxmobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $black;
  }
  .mobilmenu {
    grid-column: 3 / 4;
    color: white;
    margin-top: 20%;
    margin-left: -20%;
    a {
      text-decoration: none;
      color: $white;
    }
  }
  .logomobil {
    justify-content: center;
    grid-column: 1 / 3;
    height: 80%;
    width: 80%;
    padding-left: -5%;
    margin-top: -37%;
    margin-bottom: -45%;
    margin-left: -4%;
  }
  .mobilmenu {
    text-align: right;
    width: 100%;
    height: 46px;
    background-color: black;
    font-size: 20px;
    position: relative;
  }
  #navmobile {
    line-height: 46px;
    height: 46px;
    color: white;
    padding: 0 30px;
  }
  #navbars {
    font-size: 40px;
    cursor: pointer;
  }
  #navmenu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  #navmenu a {
    display: block;
    line-height: 46px;
    height: 46px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
  }
  #navmenu a:hover {
    background-color: $red;
    cursor: pointer;
  }

  //MOBILE CONTENT
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .billede1 {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
  }
  .welcome{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);;
    width: 250px;
    height: 100px;
    margin-left: 70px;
    margin-top: 70px;
    text-align: center;
    padding-top: 35px;
    @include proxima;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  }
}
  @media screen and (min-width: 992px) {
    // Alt der ændres i tablet liggende fra mobil og tablet stående
  }
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  @media screen and (min-width: 1200px) {

    //DET DER SKJULES PÅ WEB
    .headerboxmobile{
      display: none;
    }
    #navmenu{
      display: none;
    }
    .navmobile{
      display: none;
    }
    .content {
      display: none;
    }
    .billede1 {
      display: none;
    }

    //HEADER WEB
    .headerweb {
      display: block;
      position: fixed;
      background-color: black;
      width: 250px;
      height: 100%;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 0;
    }
    .menuimg {
      margin-left: 36px;
      margin-top: 25px;
    }
    .menubar {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
      margin-left: 38px;
      text-decoration: none;

    //HOVER EFFEKT
    a {
      text-decoration: none;
      position: relative;
    }
    a:before{
      content: '';
      display: block;
      border-bottom: 3px solid $red;
      width: 0;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
    }
    a:hover:before{
      width: 100%;
    }
    a:after {
      content: '';
      display: block;
      border-bottom: 3px solid $red;
      width: 0;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
    }
    a:hover:after {
      width: 100%;
    }
    }
  }
    .forside{
      width:75px;
    }
    .historie{
      width: 146px;
    }
    .vingaarden{
      width: 110px;
    }
    .vine{
      width: 50px;
    }
    //FOOTER
    .footer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px 50px 20px;
      width: 250px;
      height: 150px;
      margin-top: 80px;
    }
    .footertekst1{
      padding: 10px;
      grid-column: 1 / 3;
      text-align: center;
    }
    .footerface{
      margin-left: 90px;
    }
    .footertekst2{
      grid-column: 1 / 3;
      text-align: center;
    }
    .footertekst3{
      text-align: center;
      grid-column: 1 / 3;
    }
    .face{
      width: 25px;
      height:20px;
    }
    .insta{
      width: 45px;
      height:20px;
    }

    //SLIDESHOW
    /* Slideshow container */
    .slideshow-container {
      display: flex;
      max-width: 1400px;
      position: relative;
      margin-left: 250px;
    }

    /* Gemmer billederne fra standard */
    .mySlides {
      display: none;
    }
    /* Tilbage og næste knapper */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }
    /* Placer næste knappen til højre */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    /* I hover tilføj en sort baggrund med lidt gennemsigtighed*/
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    /* Prikkerne i bunden */
    .dots {
      position: absolute;
      bottom: 120px;
      left: 47%;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;

    }
    .active, .dot:hover {
      background-color: #717171;
    }
    /* Fade animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }



@media print {
  // Alt der gælder for print specifikt
}