// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser44444
}

$red: #b00030;
$grey: #5c5553;
$black: #000000;
$white: #ffffff;

@mixin bookmania{
  font-family: bookmania, serif;
  color: $white;
}

@mixin proxima{
  font-family: proxima-soft, sans-serif;
  color: $white;
}

@mixin billedopskrift{
  grid-column: 3/5;
}

h1, h2, h3, h4, h5, h6 {
  @include bookmania;
  margin: 7%; // Ingen ydre margen fra overskrifter
  padding: 0;

}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.redwine{
  background: linear-gradient(to right, $black, $white);
  grid-column: 1/5;
  grid-row: 1/2;
}

.whitewine{
  background: linear-gradient(to right, $grey, $white);
  grid-column: 1/5;
  grid-row: 2/3;
}

.rosewine{
  background: linear-gradient(to right, $grey, $red);
  grid-column: 1/5;
  grid-row: 3/4;
}

.portwine{
  background: linear-gradient(to right, $black, $grey);
  grid-column: 1/5;
  grid-row: 4/5;
}

.redimg{
  @include billedopskrift;
  grid-row: 1/2;


}

.hvidimg{
  @include billedopskrift;
  grid-row: 2/3;


}

.roseimg{
  @include billedopskrift;
  grid-row: 3/4;


}

.portimg{
  @include billedopskrift;
  grid-row: 4/5;


}

.redimg:hover, .hvidimg:hover, .roseimg:hover, .portimg:hover{
  transform: scale(1.3);
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}