* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

h1 {
  font-family: bookmania, serif;
  color: #ffffff;
  font-size: 130%; }

h2 {
  font-family: proxima-soft, sans-serif;
  font-size: 15px;
  color: white; }

@media screen and (min-width: 375px) {
  .headerweb {
    display: none; }

  #myBtn {
    display: none; }

  .headerboxmobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #000000; }

  .mobilmenu {
    grid-column: 3 / 4;
    color: white;
    margin-top: 17%;
    margin-left: -20%; }
    .mobilmenu a {
      text-decoration: none;
      color: #ffffff; }

  .logomobil {
    justify-content: center;
    grid-column: 1 / 3;
    height: 80%;
    width: 80%;
    padding-left: -5%;
    margin-top: -37%;
    margin-bottom: -45%;
    margin-left: -4%; }

  .mobilmenu {
    text-align: right;
    width: 100%;
    height: 46px;
    background-color: black;
    font-size: 20px;
    position: relative; }

  #navmobile {
    line-height: 46px;
    height: 46px;
    color: #b00030;
    padding: 0 30px; }

  #navbars {
    font-size: 40px;
    cursor: pointer; }

  #navmenu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100; }

  #navmenu a {
    display: block;
    line-height: 46px;
    height: 46px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white; }

  #navmenu a:hover {
    background-color: #b00030;
    cursor: pointer; }

  .grid {
    display: grid; }

  img {
    display: block;
    max-width: 100%;
    width: auto; }

  .redhead, .whitehead, .rosehead, .porthead {
    font-family: bookmania, serif;
    color: #ffffff;
    margin: 30px;
    font-size: 28px !important; }

  #redhide, #whitehide, #rosehide, #porthide {
    font-family: proxima-soft, sans-serif;
    color: #ffffff;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: -10px;
    width: 250px;
    height: auto;
    font-size: 16px; } }
@media screen and (min-width: 1200px) {
  .headerboxmobile {
    display: none; }

  #navmenu {
    display: none; }

  .navmobile {
    display: none; }

  .headerweb {
    display: block;
    z-index: 100;
    position: fixed;
    background-color: black;
    width: 250px;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    font-family: proxima-soft, sans-serif;
    color: #ffffff; }

  .menuimg {
    margin-left: 36px;
    margin-top: 25px; }

  .menubar {
    width: 150px;
    display: grid;
    grid-template-rows: 49px 51px 49px 44px;
    grid-template-columns: 1fr;
    margin-left: 38px;
    margin-top: -17px; }
    .menubar a {
      text-decoration: none;
      position: relative; }
    .menubar a:before {
      content: '';
      display: block;
      border-bottom: 3px solid #b00030;
      width: 0;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
    .menubar a:hover:before {
      width: 100%; }
    .menubar a:after {
      content: '';
      display: block;
      border-bottom: 3px solid #b00030;
      width: 0;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
    .menubar a:hover:after {
      width: 100%; }

  .forside {
    width: 75px; }

  .historie {
    width: 146px; }

  .vingaarden {
    width: 110px; }

  .vine {
    width: 50px; }

  .footer1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 20px;
    width: 250px;
    height: 150px;
    margin-top: 80px; }

  .footertekst1 {
    padding: 10px;
    grid-column: 1 / 3;
    text-align: center; }

  .footerface {
    margin-left: 90px; }

  .footertekst2 {
    grid-column: 1 / 3;
    text-align: center; }

  .footertekst3 {
    text-align: center;
    grid-column: 1 / 3; }

  .face {
    width: 25px;
    height: 20px; }

  .insta {
    width: 45px;
    height: 20px; }

  .redwine, .whitewine, .rosewine, .portwine {
    grid-column: 2/5; }

  h3 {
    font-family: bookmania, serif;
    color: #ffffff;
    font-size: 130%; }

  .redhead {
    grid-row: 2/3;
    margin-left: -75px;
    margin-top: 20px;
    padding-left: 400px; }

  .whitehead {
    grid-row: 3/4;
    margin-left: -75px;
    margin-top: 20px;
    padding-left: 400px; }

  .rosehead {
    grid-row: 5/6;
    margin-left: -75px;
    margin-top: 20px;
    padding-left: 400px; }

  .porthead {
    grid-row: 7/8;
    margin-left: -75px;
    margin-top: 20px;
    padding-left: 400px; }

  #redhide, #whitehide, #rosehide, #porthide {
    font-family: proxima-soft, sans-serif;
    color: #ffffff;
    margin-left: 325px;
    margin-right: 200px;
    width: 600px;
    height: auto;
    font-size: 24px;
    display: none; }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px; }

  #myBtn:hover {
    background-color: #555; } }
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px auto 100px 100px auto 100px 100px auto 100px 120px auto 100px 50px; }

.redwine {
  background: linear-gradient(to right, #000000, #ffffff);
  grid-column: 1/5;
  grid-row: 1/4; }
  .redwine .redhead {
    grid-row: 1/2; }

.whitewine {
  background: linear-gradient(to right, #5c5553, #ffffff);
  grid-column: 1/5;
  grid-row: 4/7; }
  .whitewine .whitehead {
    grid-row: 3/4; }

.rosewine {
  background: linear-gradient(to right, #5c5553, #b00030);
  grid-column: 1/5;
  grid-row: 7/10; }
  .rosewine .rosehead {
    grid-row: 5/6; }

.portwine {
  background: linear-gradient(to right, #000000, #5c5553);
  grid-column: 1/5;
  grid-row: 10/13; }
  .portwine .porthead {
    grid-row: 7/8; }

.redbutton, .hvidbutton, .rosebutton, .portbutton {
  background-color: #b00030;
  height: 50px;
  width: 90px;
  border: none; }
  .redbutton a, .hvidbutton a, .rosebutton a, .portbutton a {
    text-decoration: none;
    color: #000000; }

.redimg {
  grid-column: 4/5;
  grid-row: 2/3; }

.hvidimg {
  grid-column: 4/5;
  grid-row: 5/6; }

.roseimg {
  grid-column: 4/5;
  grid-row: 8/9; }

.portimg {
  grid-column: 4/5;
  grid-row: 11/12; }

.redimg:hover, .hvidimg:hover, .roseimg:hover, .portimg:hover {
  transform: scale(1.3); }

.fyld {
  grid-row: 13/14;
  background: linear-gradient(to right, #000000, #5c5553);
  grid-column: 1/5; }

/*# sourceMappingURL=Vine.css.map */
