// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}



ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

$red: #b00030;
$grey: #5c5553;
$black: #000000;
$white: #ffffff;

@mixin bookmania{
  font-family: bookmania, serif;
  color: $white;
  font-size: 130%
}

@mixin proxima{
  font-family: proxima-soft, sans-serif;
  color: $white;
}
@mixin billedopskrift{
  grid-column: 4/5;
}

h1{
  @include bookmania;
}

h2 {
  font-family: proxima-soft, sans-serif;
  font-size: 15px;
  color: white;
}

h3{
  @include bookmania;
}

@media screen and (min-width: 375px) {

  .headerweb{
    display: none;
  }

  img {
    display: block; // Billeder er et element (laver linjeskift)
    max-width: 100%; // Bredde må maks fylde 100%
    // Højden skal tilpasse sig
    width: auto;
  }

  .redhead, .whitehead, .rosehead, .porthead{
    @include bookmania;
    margin: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {

  .headerboxmobile{
    display: none;
  }
  //HEADER WEB
  .headerweb{
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 250px;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  .menuimg{
    margin-left: 36px;
    margin-top: 25px;
  }
  .menubar{
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: -18px;
    grid-template-columns: 1fr;
    margin-left: 38px;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }

  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 20px;
    width: 250px;
    height: 300px;

  }
  .footertekst1{
    grid-column: 1 / 3;
    text-align: center;
    padding-bottom: 15px;

  }
  .footerface{
    margin-left: 90px;
  }
  .footertekst2{
    grid-column: 1 / 3;
    text-align: center;
    margin-top: -2px;

  }
  .footertekst3{
    grid-column: 1 / 3;
    text-align: center;
    margin-top: -2px;
  }

//CONTENT

  .redwine, .whitewine, .rosewine, .portwine{
    grid-column: 2/5;
  }

  @mixin headline{
    margin-left: -75px;
    margin-top: 20px;
  }

  .redhead{
    grid-row: 2/3;
  @include headline;
    padding-left: 400px;
  }

  .whitehead{
    grid-row: 3/4;
    @include headline;
    padding-left: 400px;
  }

  .rosehead{
    grid-row: 5/6;
    @include headline;
    padding-left: 400px;
  }

  .porthead{
    grid-row: 7/8;
   @include headline;
    padding-left: 400px;
  }

}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px auto 100px 100px auto 100px 100px auto 100px 120px auto 100px 50px;
}

.redwine{
  background: linear-gradient(to right, $black, $white);
  grid-column: 1/5;
  grid-row: 1/4;
}

.redhead{
  grid-row: 1/2;
}

.whitewine{
  background: linear-gradient(to right, $grey, $white);
  grid-column: 1/5;
  grid-row: 4/7;
}

.whitehead{
  grid-row: 3/4;
}

.rosewine{
  background: linear-gradient(to right, $grey, $red);
  grid-column: 1/5;
  grid-row: 7/10;
}

.rosehead{
  grid-row: 5/6;
}

.portwine{
  background: linear-gradient(to right, $black, $grey);
  grid-column: 1/5;
  grid-row: 10/13;
}

.porthead{
  grid-row: 7/8;
}

.redimg{
  @include billedopskrift;
  grid-row: 2/3;
}

.hvidimg{
  @include billedopskrift;
  grid-row: 5/6;
}

.roseimg{
  @include billedopskrift;
  grid-row: 8/9;
}

.portimg{
  @include billedopskrift;
  grid-row: 11/12;
}

.redimg:hover, .hvidimg:hover, .roseimg:hover, .portimg:hover{
  transform: scale(1.3);
}

.fyld{
  grid-row: 13/14;
  background: linear-gradient(to right, $black, $grey);
  grid-column: 1/5;
}

#redhide, #whitehide, #rosehide, #porthide{
  @include proxima;
  display: none;
  margin-left: 300px;
  margin-right: 200px;
}

